[package]
name = "cron"
version = "0.6.0"
authors = ["Zack Slayton <zack.slayton@gmail.com>"]
repository = "https://github.com/zslayton/cron"
documentation = "https://docs.rs/cron"
readme = "README.md"
description = "A cron expression parser and schedule explorer."
keywords = [ "cron", "schedule", "repeat", "periodic", "time" ]
license = "MIT"

[lib]
name = "cron"

[dependencies]
chrono = "~0.4"
nom = "~4.1"
error-chain="~0.10.0"
